<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">Listázzuk azon órák adatait, amelyek</span>

<span style="mso-spacerun:'yes';font-size:18.024pt;font-family:Arial;color:rgb(27,32,61);">az 1-es vagy 2-es sávban vannak!</span>

In [1]:
select *
from orak
where sav in (1,2)

ora_id,tanar,nap,Sav,targy,terem
159,4,3,1,1,1
161,8,1,2,1,2
163,3,3,2,1,4
169,20,1,2,1,6
170,104,1,2,1,4
171,14,2,2,1,8
172,7,2,2,1,3
181,2,5,1,1,2
182,111,5,1,1,7
183,2,5,2,1,8
184,111,5,2,1,6
187,5,3,2,2,5
189,9,4,2,2,13
197,9,4,1,5,16
198,9,3,2,5,3
199,300,4,1,5,6
200,300,4,2,5,8
206,12,2,1,18,10
208,10,1,1,13,13
209,10,1,2,13,13
223,1,5,1,10,10

<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">Listázzuk azon oktatók adatait, akik beosztása óraadó vagy van</span>

<span style="mso-spacerun:'yes';font-size:18.024pt;font-family:Arial;color:rgb(27,32,61);">órájuk a 219-es teremben! Az eredménylista tartalmazza az</span>

<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">esetlegesen duplikált sorokat is!</span>

In [2]:
select okt.*
from oktatok okt
join Beosztasok b on okt.beosztás = b.beosztas_id
where b.beosztasnev = 'Óraadó'
union ALL
select okt.*
from oktatok okt
join orak o on okt.oktato_id = o.tanar
join Termek t on o.terem = t.Tkód
where t.terem = '219'

oktato_id,nev,titulus,beosztás,status
18,Nógrádi Kata,NULL,1,1
19,Rácz András,NULL,1,1
20,Kovács András,NULL,1,1
104,Ludas Mátyás,NULL,1,1
105,Kiss István,NULL,1,2
107,Mészáros Kriszta,NULL,1,2
200,Aranyi Mária,NULL,1,1
300,Szabó Andrera,NULL,1,1
104,Ludas Mátyás,NULL,1,1
111,Vitéz János,NULL,2,1
18,Nógrádi Kata,NULL,1,1
12,Varga Kata,Dr.,4,1
8,Pelikán József,NULL,2,3
8,Pelikán József,NULL,2,3

<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">Vannak-e olyan tanárok, akiknek nincs órájuk?</span>

<span style="mso-spacerun:'yes';font-size:18.024pt;font-family:Arial;color:rgb(27,32,61);">Adjuk meg az illető tanárok azonosítóját és</span>

<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">nevét! A listát rendezzük név szerint csökkenő</span>

<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">sorrendbe!</span>

In [4]:
select oktato_id,
nev as 'név'
from oktatok
EXCEPT
select distinct okt.oktato_id, okt.nev
from orak o
join oktatok okt on o.tanar = okt.oktato_id
order by név desc

oktato_id,név
19,Rácz András
107,Mészáros Kriszta
302,Kovacs Istvan
105,Kiss István
11,Józsa Gábor

<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">Listázzuk azon tantárgy(ak) azonosítóit, amely(ek)ből</span>

<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">nincs egyetlen óra sem! Az eredménylista oszlopát</span>

<span style="mso-spacerun:'yes';font-size:18pt;font-family:Arial;color:rgb(27,32,61);">nevezzük el „Nem tanított tantárgyak”-nak!&nbsp;</span>

In [6]:
SELECT tkód as 'nem tanított tárgyak'
from Tantárgyak
EXCEPT
select distinct targy
from orak

nem tanított tárgyak
11